<!DOCTYPE html>
<html lang="en">
<head>
    <title id="title">&#65279;</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/8a13ddf5-1d4f-400d-b075-819d87aa9e73%2Fapple-touch-icon.png?v=1600397449429" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/8a13ddf5-1d4f-400d-b075-819d87aa9e73%2Ffavicon-32x32.png?v=1600397449626" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/8a13ddf5-1d4f-400d-b075-819d87aa9e73%2Ffavicon-16x16.png?v=1600397449589" />
    <link rel="manifest" href="https://cdn.glitch.com/8a13ddf5-1d4f-400d-b075-819d87aa9e73%2Fsite.webmanifest?v=1600397449765" />
</head>
<body>
  <div style="display: block;">
    <h1>you found a <span class="glitch" data-text="secret.">secret.</span></h1>
    <h3>unfortunately there's nothing here yet.</h3>
  </div>
</body>
</html>