html {
  background-color: #020305;
  color: white;
  font-family: "Kumbh Sans", monospace; }

body, html {
  height: 100%;
  margin: 0;
  text-align: center; }

body {
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center; }

input {
  text-align: center;
  font-family: "Kumbh Sans", monospace;
  height: 40px;
  width: 20vw;
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  transition: all 0.25s ease-in-out; }

input:hover {
  border-bottom: 2px solid #AAA; }

input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #599; }

@media only screen and (max-width: 400px) {
  input {
    font-size: 1em;
    transition: all 0.5s ease-in-out; } }

@media only screen and (min-width: 400px) {
  input {
    font-size: 1.5em;
    transition: all 0.5s ease-in-out; } }

.cdmessage {
  font-size: .65em;
  color: gray;
  letter-spacing: 2px;
  margin-bottom: 15px; }

#loggedIn {
  position: fixed;
  bottom: 5%;
  width: 100%;
  left: 0;
  font-size: 0.7em;
  text-transform: lowercase;
  font-family: 'Major Mono Display';
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center; }

#loggedIn .break {
  flex-basis: 100%;
  height: 5px; }

.glitch {
  position: relative;
  color: white;
  font-size: 1em;
  /* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */ }
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse; }
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 5s infinite linear alternate-reverse; }

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(40px, 9999px, 78px, 0);
    transform: skew(0.25deg); }
  5% {
    clip: rect(100px, 9999px, 34px, 0);
    transform: skew(0.15deg); }
  10% {
    clip: rect(56px, 9999px, 5px, 0);
    transform: skew(0.8deg); }
  15% {
    clip: rect(71px, 9999px, 98px, 0);
    transform: skew(0.25deg); }
  20% {
    clip: rect(19px, 9999px, 12px, 0);
    transform: skew(0.56deg); }
  25% {
    clip: rect(97px, 9999px, 75px, 0);
    transform: skew(0.29deg); }
  30% {
    clip: rect(33px, 9999px, 72px, 0);
    transform: skew(0.12deg); }
  35% {
    clip: rect(96px, 9999px, 89px, 0);
    transform: skew(0.33deg); }
  40% {
    clip: rect(60px, 9999px, 3px, 0);
    transform: skew(0.02deg); }
  45% {
    clip: rect(20px, 9999px, 24px, 0);
    transform: skew(0.72deg); }
  50% {
    clip: rect(5px, 9999px, 80px, 0);
    transform: skew(0.45deg); }
  55% {
    clip: rect(71px, 9999px, 53px, 0);
    transform: skew(0.17deg); }
  60% {
    clip: rect(89px, 9999px, 11px, 0);
    transform: skew(0.6deg); }
  65% {
    clip: rect(78px, 9999px, 12px, 0);
    transform: skew(0.3deg); }
  70% {
    clip: rect(36px, 9999px, 25px, 0);
    transform: skew(0.72deg); }
  75% {
    clip: rect(45px, 9999px, 18px, 0);
    transform: skew(0.99deg); }
  80% {
    clip: rect(14px, 9999px, 87px, 0);
    transform: skew(0.63deg); }
  85% {
    clip: rect(64px, 9999px, 63px, 0);
    transform: skew(0.57deg); }
  90% {
    clip: rect(7px, 9999px, 35px, 0);
    transform: skew(0.4deg); }
  95% {
    clip: rect(10px, 9999px, 7px, 0);
    transform: skew(0.51deg); }
  100% {
    clip: rect(75px, 9999px, 30px, 0);
    transform: skew(1deg); } }

@keyframes glitch-anim2 {
  0% {
    clip: rect(51px, 9999px, 85px, 0);
    transform: skew(0.6deg); }
  5% {
    clip: rect(95px, 9999px, 46px, 0);
    transform: skew(0.56deg); }
  10% {
    clip: rect(56px, 9999px, 85px, 0);
    transform: skew(0.57deg); }
  15% {
    clip: rect(1px, 9999px, 65px, 0);
    transform: skew(0.42deg); }
  20% {
    clip: rect(10px, 9999px, 21px, 0);
    transform: skew(0.35deg); }
  25% {
    clip: rect(13px, 9999px, 87px, 0);
    transform: skew(0.97deg); }
  30% {
    clip: rect(49px, 9999px, 45px, 0);
    transform: skew(0.57deg); }
  35% {
    clip: rect(37px, 9999px, 31px, 0);
    transform: skew(0.84deg); }
  40% {
    clip: rect(35px, 9999px, 34px, 0);
    transform: skew(0.36deg); }
  45% {
    clip: rect(40px, 9999px, 76px, 0);
    transform: skew(0.91deg); }
  50% {
    clip: rect(12px, 9999px, 5px, 0);
    transform: skew(0.02deg); }
  55% {
    clip: rect(66px, 9999px, 22px, 0);
    transform: skew(0.15deg); }
  60% {
    clip: rect(82px, 9999px, 87px, 0);
    transform: skew(0.11deg); }
  65% {
    clip: rect(58px, 9999px, 44px, 0);
    transform: skew(0.9deg); }
  70% {
    clip: rect(1px, 9999px, 92px, 0);
    transform: skew(0.32deg); }
  75% {
    clip: rect(69px, 9999px, 57px, 0);
    transform: skew(0.98deg); }
  80% {
    clip: rect(67px, 9999px, 45px, 0);
    transform: skew(0.81deg); }
  85% {
    clip: rect(7px, 9999px, 50px, 0);
    transform: skew(0.65deg); }
  90% {
    clip: rect(73px, 9999px, 11px, 0);
    transform: skew(0.71deg); }
  95% {
    clip: rect(100px, 9999px, 48px, 0);
    transform: skew(0.56deg); }
  100% {
    clip: rect(99px, 9999px, 41px, 0);
    transform: skew(0.79deg); } }
