@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
html {
  background-color: #020305;
  color: white;
  font-family: "Kumbh Sans", monospace;
}

body, html {
  height: 100%;
  margin: 0;
  text-align: center;
}

body {
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  text-align: center;
  font-family: "Kumbh Sans", monospace;
  height: 40px;
  width: 20vw;
  color: white;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  transition: all 0.25s ease-in-out;
}

input:hover {
  border-bottom: 2px solid #AAA;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #599;
}

@media only screen and (max-width: 400px) {
  input {
    font-size: 1em;
    transition: all 0.5s ease-in-out;
  }
}
@media only screen and (min-width: 400px) {
  input {
    font-size: 1.5em;
    transition: all 0.5s ease-in-out;
  }
}
.glitch {
  position: relative;
  color: white;
  font-size: 0.75em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(61px, 9999px, 49px, 0);
    transform: skew(0.54deg);
  }
  5% {
    clip: rect(8px, 9999px, 33px, 0);
    transform: skew(0.36deg);
  }
  10% {
    clip: rect(68px, 9999px, 39px, 0);
    transform: skew(0.82deg);
  }
  15% {
    clip: rect(99px, 9999px, 32px, 0);
    transform: skew(0.6deg);
  }
  20% {
    clip: rect(80px, 9999px, 84px, 0);
    transform: skew(0.37deg);
  }
  25% {
    clip: rect(25px, 9999px, 25px, 0);
    transform: skew(0.55deg);
  }
  30% {
    clip: rect(6px, 9999px, 57px, 0);
    transform: skew(0.36deg);
  }
  35% {
    clip: rect(46px, 9999px, 15px, 0);
    transform: skew(0.36deg);
  }
  40% {
    clip: rect(69px, 9999px, 3px, 0);
    transform: skew(0.37deg);
  }
  45% {
    clip: rect(16px, 9999px, 25px, 0);
    transform: skew(0.54deg);
  }
  50% {
    clip: rect(5px, 9999px, 83px, 0);
    transform: skew(0.55deg);
  }
  55% {
    clip: rect(74px, 9999px, 56px, 0);
    transform: skew(0.76deg);
  }
  60% {
    clip: rect(60px, 9999px, 9px, 0);
    transform: skew(0.37deg);
  }
  65% {
    clip: rect(36px, 9999px, 27px, 0);
    transform: skew(0.41deg);
  }
  70% {
    clip: rect(82px, 9999px, 8px, 0);
    transform: skew(0.71deg);
  }
  75% {
    clip: rect(47px, 9999px, 94px, 0);
    transform: skew(0.14deg);
  }
  80% {
    clip: rect(2px, 9999px, 25px, 0);
    transform: skew(0.88deg);
  }
  85% {
    clip: rect(16px, 9999px, 63px, 0);
    transform: skew(0.44deg);
  }
  90% {
    clip: rect(31px, 9999px, 9px, 0);
    transform: skew(0.96deg);
  }
  95% {
    clip: rect(98px, 9999px, 95px, 0);
    transform: skew(0.67deg);
  }
  100% {
    clip: rect(95px, 9999px, 1px, 0);
    transform: skew(0.95deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(53px, 9999px, 99px, 0);
    transform: skew(0.86deg);
  }
  5% {
    clip: rect(68px, 9999px, 6px, 0);
    transform: skew(0.63deg);
  }
  10% {
    clip: rect(24px, 9999px, 60px, 0);
    transform: skew(0.52deg);
  }
  15% {
    clip: rect(25px, 9999px, 50px, 0);
    transform: skew(0.74deg);
  }
  20% {
    clip: rect(27px, 9999px, 41px, 0);
    transform: skew(0.8deg);
  }
  25% {
    clip: rect(64px, 9999px, 35px, 0);
    transform: skew(0.88deg);
  }
  30% {
    clip: rect(38px, 9999px, 33px, 0);
    transform: skew(0.19deg);
  }
  35% {
    clip: rect(19px, 9999px, 45px, 0);
    transform: skew(0.62deg);
  }
  40% {
    clip: rect(95px, 9999px, 21px, 0);
    transform: skew(0.84deg);
  }
  45% {
    clip: rect(8px, 9999px, 50px, 0);
    transform: skew(0.33deg);
  }
  50% {
    clip: rect(81px, 9999px, 24px, 0);
    transform: skew(0.51deg);
  }
  55% {
    clip: rect(44px, 9999px, 28px, 0);
    transform: skew(0.56deg);
  }
  60% {
    clip: rect(97px, 9999px, 61px, 0);
    transform: skew(0.24deg);
  }
  65% {
    clip: rect(60px, 9999px, 99px, 0);
    transform: skew(0.66deg);
  }
  70% {
    clip: rect(12px, 9999px, 88px, 0);
    transform: skew(0.29deg);
  }
  75% {
    clip: rect(80px, 9999px, 8px, 0);
    transform: skew(0.05deg);
  }
  80% {
    clip: rect(36px, 9999px, 47px, 0);
    transform: skew(0.2deg);
  }
  85% {
    clip: rect(28px, 9999px, 92px, 0);
    transform: skew(0.33deg);
  }
  90% {
    clip: rect(1px, 9999px, 88px, 0);
    transform: skew(0.6deg);
  }
  95% {
    clip: rect(67px, 9999px, 81px, 0);
    transform: skew(0.87deg);
  }
  100% {
    clip: rect(6px, 9999px, 28px, 0);
    transform: skew(0.87deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(3deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(2deg);
  }
}

/*# sourceMappingURL=style.css.map */
